<html>

<head>
	<title><%= options.title %></title>
	
	<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet/less" href="/css/benjamin.less" />
	
	<script src="/js/less.js" type="text/javascript"></script>
</head>

<body>

<%= yield %>

<footer>
	→ <a href="https://github.com/taniki/walter">walter</a>
</footer>

</body>
</html>